# ignore .git and .cache folders
.git
.cache

# ignore folders
vendor/

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md

# ignore files
*.png
**/*.png

# ignore test files

**/*_test.go
coverage.out
